

.sliderTooltip {
    position: absolute;
    padding: 5px 0;
    margin-top: -3px;
    margin-left: 2px;
    top: -34px;
    z-index: 90;
}
.stLabel {
    background-color: #12005E;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    padding: 4px 6px;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
}
.stArrow {
    border-color: transparent;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    border-top-color: #12005E;
}
.ui-slider .ui-slider-range {
    background-color: #12005E;
}
   