        <div class="container-fluid tabs">
              <div class="about-tabs" id="about-tabs">
			        MORE
              </div>
         </div>
         <div class="container-fluid wrapper sp-wrapper about-wrap">
            <div class="full">
                <ul  class="mobile-action" id="about">
                            <a href="#"><li>About Us</li></a>
                            <a href="https://www.bestdealfinance.com/company_philosophy" target="_blank"><li>Company Philosophy</li></a>
                            <a href="https://www.bestdealfinance.com/management_team" target="_blank"><li>Management Team</li></a>
                    <a href="https://www.bestdealfinance.com/career_page1" target="_blank"><li class="link-ht">Careers</li></a>
                    <div class="share">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                        </ul>
                <div class="left-nego nego-adj lt-nego-adj lt-about">
                   <div class="left-title lt-title-adj">
                        ABOUT US
                   </div>
                    <div class="left-nav center left-nav-adj lt-about">
                        <ul>
                            <a href="#"><li class="link-ht selected-new about-select">About Us</li></a>
                            <a href="https://www.bestdealfinance.com/company_philosophy" target="_blank"><li class="link-ht">Company Philosophy</li></a>
                            <a href="https://www.bestdealfinance.com/management_team" target="_blank"><li class="link-ht">Management Team</li></a>
                            <a href="https://www.bestdealfinance.com/career_page1" target="_blank"><li class="link-ht">Careers</li></a>
                        </ul>
                    </div>
                    <div class="share share-adj">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                </div>
                <div class="right-nego rt-nego-about">
                    <div class="nego-data about-data">
                   <div class="right-banner right-banner-img rt-ban-adj">
                        ABOUT US
                   </div>
                    
                        </div>
                    <div class="property-details about-details">
                        <div  class="bottom">
                            <h4><b>About bestdealfinance.com</b></h4>
                        </div><br>
                        <p><a href="https://www.bestdealfinance.com/" target="_blank" class="link-color"><b>Bestdealfinance.com</b></a> is a cutting edge online platform that allows customers to obtain the best deal facilitating a well-informed purchasing decision across financial products and services for Individuals & SMEs.</p>
                        <p>With the vision of bringing transparency and expertise to the end consumers, bestdealfinance.com is the brainchild of banking veteran,<br> Mr. Manavjeet Singh. Aiming to be the country's largest 'Financial  Super Mart' and delivering best value for customers and stakeholders, the organization is based on the unique business model of 'click and mortar'. Believing in simple philosophy of quality and creating trust, bestdealfinance.com has over XX association across Banks & NBFCs.</p>
                        <p>Bestdealfinance.com is also extending its service proposition with bestdealhousing.com will serve the customers in real estate space.</p><br>
                        <div  class="bottom">
                            <h4><b>About bestdealhousing.com</b></h4>
                        </div><br>
                        <p>Bestdealhousing.com is an online property portal which offers a perfect platform for property sellers & buyers to come together and transact online. So now you would have the power to buy/sell/ rent/lease your house, quickly & effortlessly without leaving the comfort of your desk.</p>
                        <p>Bestdealhousing.com is a user friendly platform ensuring a complete user satisfaction by making a complicated business of property dealing much simpler and faster with relevant insights for the users.</p>
                        <p>With wide variety of property options in each category, customers would be empowered to compare & choose the best deal for himself. Also bestdealhousing.com facilitates attractive offers from builders through exclusive tie-ups which is value for money for the customers. It features all kinds of properties from residential, commercials, new projects to even plots. Its user friendly interfaces for individuals with attractive features offer real life experience making it a perfect platform to interact & transact.</p>
                        <p>Bestdealhousing.com also provides an intuitive and easy to use interface for builders to list their properties, which would help in easy tracking of conversions and customer interest in the listed properties.</p>
                    </div>
                </div>
            </div>
        </div>

