<body>
    <div class="container-fluid home-back" ng-style="bannerimage">
        <div class="row">
            <div class="col-md-12 selection">
               <h4>COMMERCIAL</h4>
                <div class="wrap">
                    <h4>I WANT TO</h4>
                    <div class="select-opt">
                        <div class="dropdown dropdown-new">
                            <button class="btn btn-default dropdown-toggle dropdown-btn btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                BUY
                                <span class="caret  caret-right"></span>
                            </button>
                            <ul class="dropdown-menu drop-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SELL</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">RENT</a>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown dropdown-new">
                            <button class="btn btn-default dropdown-toggle dropdown-btn btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                RESALE
                                <span class="caret  caret-right"></span>
                            </button>
                            <ul class="dropdown-menu drop-menu" role="menu" aria-labelledby="dropdownMenu1">
                                 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">NEW PROJECT-LUXUR</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">NEW PROJECT-VALU</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="dropdown-search">
                        <form method="get" action="" role="search">
                            <div class="form-group home-search">
                                <input class="form-control input-lg search-input over-search" type="text" placeholder="Enter City, Area, Location or Zip" value="" />
                            </div>
                            <button type="submit" ng-click="gotosearch();" class="btn btn-danger btn-lg home-search-btn">
                                SEARCH
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
   
    