
        <div class="container-fluid tabs">
              <div class="mobile-tabs" id="action-tabs">
			        TAKE ACTION
              </div>
             <div class="property-tabs" id="property-tabs">
			        PROPERTIES
             </div>
         </div>
         <div class="container-fluid wrapper sp-wrapper">
            <div class="full">
                <ul  class="mobile-action" id="property">
                            <a href="#"><li>PROP01</li></a>
                            <a href="#"><li>PROP02</li></a>
                            <a href="#"><li>PROP03</li></a>
                            <a href="#"><li>PROP04</li></a>
                            <a href="#"><li>PROP05</li></a>
                    <div class="left-btn">
                        <a href="#">ADD MORE +</a>     
                    </div>
                    <div class="share">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                        </ul>
                <div class="left-nego">
                   <div class="left-title">
                        SHORTLISTED PROPERTIES
                   </div>
                    <div class="left-nav center">
                        <ul>
                            <a href="#"><li>PROP01</li></a>
                            <a href="#"><li class="selected">PROP02</li></a>
                            <a href="#"><li>PROP03</li></a>
                            <a href="#"><li>PROP04</li></a>
                            <a href="#"><li>PROP05</li></a>
                        </ul>
                    </div>
                        
                    <div class="left-btn">
                        <a href="#">ADD MORE +</a>     
                    </div>
                    <div class="share">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                </div>
                <div class="right-nego">
                    <div class="nego-data">
                   <div class="right-banner">
                        NEGOTIATION
                   </div>
                    <div class="offered">
                        <div class="offered-lt">
                            <strong>OFFERED PRICE:</strong><span class="price"> Rs. 1.2 Crore &nbsp;</span><img src="img/tag.png" />
                        </div>
                        <div class="offered-rt">
                            <button type="submit" class="btn btn-green">Accept offered rate</button>&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-grey">Decline further negotiation</button>
                        </div>
                   </div>
                   <div class="quated">
                        <form action="" class="quated-form">
                            <input type="text" placeholder="Enter Quoted Price" /><br><br>
                            <textarea placeholder="Enter Message"></textarea><br><br>
                            <button class="btn btn-danger btn-send">SEND</button>
                        </form>
                       <div class="date">
                        <h4>Accept offered rate</h4>
                           <h1>21st</h1>
                           <h4>JAN 2014</h4>
                       </div>
                    </div>
                        </div>
                    <div class="property-details">
                        <h4>PROPERTY DETAILS</h4>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Built up area : <span class="light">6500 sq.ft</span> </td>
                                <td>Furnishing : <span class="light">6</span></td>
                                <td>No. of lifts : <span class="light">2</span></td>
                            </tr>
                            <tr>
                                <td>Price per sq.ft : <span class="light">Rs. 21,000</span></td>
                                <td>Locality / Suburb : <span class="light">Bandra</span></td>
                                <td>Modular kitchen : <span class="light">Yes</span></td>
                            </tr>
                            <tr>
                                <td>Carpet area (in sq.ft) : <span class="light">3430 sq.ft</span></td>
                                <td>City : <span class="light">Mumbai</span></td>
                                <td>Airports : <span class="light">Lorem Lpsum</span></td>
                            </tr>
                            <tr>
                                <td>Facing (Direction) : <span class="light">East</span></td>
                                <td>Pin Code : <span class="light">400 031</span></td>
                                <td>Train Stations : <span class="light">Lorem</span></td>
                            </tr>
                            <tr>
                                <td>Age of Property : <span class="light">2 years</span></td>
                                <td>Property type : <span class="light">Villa</span></td>
                                <td>Bus Stations : <span class="light">Lpsum</span></td>
                            </tr>
                            <tr>
                                <td>Totle floors : <span class="light">2</span></td>
                                <td>Lease type : <span class="light">Lpsum</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>BHK : <span class="light">6</span> </td>
                                <td>Bathrooms : <span class="light">2</span></td>
                                <td></td>
                            </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
