               <div class="container-fluid tabs  news-links">
              <div class="mobile-tabs">
			         <a href="#"><li>Blogs</li></a>
              </div>
             <div class="property-tabs">
			        <a href="#"><li>News & Articles</li></a>
             </div>
         </div>
         </div>
         <div class="container-fluid wrapper sp-wrapper about-wrap news-wrap">
            <div class="full">
                <!--<ul  class="mobile-action" id="about">
                            <a href="#"><li>Blogs</li></a>
                            <a href="#"><li>News & Articles</li></a>
                    <div class="share">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                        </ul>-->
                <div class="left-nego nego-adj lt-nego-adj lt-about">
                   <div class="left-title lt-title-adj">
                        NEWS & COMMUNITY
                   </div>
                    <div class="left-nav center left-nav-adj lt-about lt-news">
                        <ul>
                            <a href="#"><li class="link-ht">Blogs</li></a>
                            <a href="#"><li class="link-ht">News & Articles</li></a>
                        </ul>
                    </div>
                    <div class="share share-adj">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                     <div class="social-tab">
                        <div class="soc-btn">
                            <div class="tw-btn" id="tab-tweet"><img src="img/tw-btn.png" /></div>
                            <div class="fb-btn" id="tab-fb"><img src="img/fb-btn.png" /></div>
                        </div>
                         <div class="soc-data">
                             <div id="fb-data">
                                 <div id="fb-root"></div>
                                    <script>(function(d, s, id) {
                                      var js, fjs = d.getElementsByTagName(s)[0];
                                      if (d.getElementById(id)) return;
                                      js = d.createElement(s); js.id = id;
                                      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                                      fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));</script>
                                    <div class="fb-like-box" data-href="https://www.facebook.com/BestDealFinance" data-width="300" data-height="500" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
                                 </div>
                             <div id="tweet-data">
                                   <!--<a class="twitter-timeline"  href="https://twitter.com/ShadokaVentures"  data-widget-id="421698974274166784">Tweets by @ShadokaVentures</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
                                 </div>
                         </div>
                     </div>
                    <!--<div class="social-tab">
                        <div class="poll">POLL OF THE WEEK</div>
                        <div class="question">Which is your level of convenience when you buy financial products online?
                            <form>
                                <div class="radio">
                                  <label>
                                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                    Very convenient
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Slightly convenient
                                  </label>
                                </div>
                                 <div class="radio">
                                  <label>
                                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Not at all convenient
                                  </label>
                                </div>
                            </form>
                        </div>
                        <div class="question">Which features help you pick the best financial service provider?
                            <form>
                                <div class="radio">
                                  <label>
                                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                    	Interest rate and service charges
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Convenient and hassle free service
                                  </label>
                                </div>
                                 <div class="radio">
                                  <label>
                                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Proximity of the financial institution to your residence / office
                                  </label>
                                </div>
                            </form>
                        </div>
                        <button type="submit" class="btn btn-danger btn-lg submit-btn que-btn">
						    SUBMIT
					    </button>
                     </div>-->
                </div>
                <div class="right-nego rt-nego-about">
                    <div class="nego-data about-data newsdata">
                   <div class="right-banner right-banner-img rt-ban-adj news-banner">
                       NEWS & COMMUNITY
                   </div>
                    
                        </div>
                    <div class="property-details about-details">
                        <!--<div  class="bottom">
                            <h4><b>Interviews</b></h4>
                        </div><br>
                       <div class="news-data">
                            <div class="news-lt">
                                <div class="news">
                                    <div class="news-pic"><img src="img/post1.jpg" /></div>
                                    <div class="news-post">
                                        <p>The online platform offers a great growth potential. Currently the estimated size of the $10 billion online industry is poised to grow to</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="post-nm">
                                            Manavjeet Singh, Founder<br>(Bestdealfinance.com)
                                        </div>
                                        <div class="post-date">
                                            <img src="img/clock.png" /> 07 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-rt">
                                <div class="news">
                                    <div class="news-pic"><img src="img/post2.jpg" /></div>
                                    <div class="news-post">
                                        <p>The online platform offers a great growth potential. Currently the estimated size of the $10 billion online industry is poised to grow to</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="post-nm">
                                            Sumeru Shah, Head<br>Business Development
                                        </div>
                                        <div class="post-date">
                                            <img src="img/clock.png" /> 08 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>-->
                        
                        <div class="bottom news-bottom">
                            <h4><b>Blogs</b></h4>
                        </div><br>
                       <div class="news-data">
                            <div class="news-lt">
                                <div class="news">
                                    <div class="blog-pic"><img src="img/blog1.jpg" /></div>
                                    <div class="blog-post">
                                        <p>6 key aspects when it comes to choosing the best home loan</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="blog-date">
                                            <img src="img/clock.png" /> 07 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-rt">
                                <div class="news">
                                    <div class="news-pic"><img src="img/blog2.jpg" /></div>
                                    <div class="news-post">
                                        <p>Get your loan approved before applying for it You know the three mantras to be good at something.</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="post-nm">
                                        </div>
                                        <div class="post-date">
                                            <img src="img/clock.png" /> 07 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                        <div  class="bottom">
                            <h4><b>News & Articles</b></h4>
                        </div><br>
                       <div class="news-data">
                            <div class="news-lt">
                                <div class="news">
                                    <div class="blog-pic"><img src="img/news1.jpg" /></div>
                                    <div class="blog-post">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="blog-date">
                                            <img src="img/clock.png" /> 07 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-rt">
                                <div class="news">
                                    <div class="news-pic"><img src="img/news2.jpg" /></div>
                                    <div class="news-post">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="post-nm">
                                        </div>
                                        <div class="post-date">
                                            <img src="img/clock.png" /> 07 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                          <!--<div  class="bottom">
                            <h4><b>New Product Launches</b></h4>
                        </div><br>
                       <div class="news-data">
                            <div class="news-lt">
                                <div class="news">
                                    <div class="blog-pic"><img src="img/product1.jpg" /></div>
                                    <div class="blog-post">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="blog-date">
                                            <img src="img/clock.png" /> 07 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-lt">
                                <div class="news">
                                    <div class="blog-pic"><img src="img/product2.jpg" /></div>
                                    <div class="blog-post">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                    <div class="post-details">
                                        <div class="blog-date">
                                            <img src="img/clock.png" /> 07 Jan 15
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>-->
                    </div>
                </div>
            </div>
        </div>
