         <div class="container-fluid wrapper wrap-adj">
            <div class="full">
                <div class="left-nego">
                   <div class="left-title">
                        SHORTLISTED PROPERTIES
                   </div>
                    <div class="left-heading">RENT</div>
                    <div class="left-nav center left-adj">
                        <ul>
                            <a href="#"><li>property 01</li></a>
                            <a href="#"><li class="selected">property 02</li></a>
                            <a href="#"><li>property 03</li></a>
                            <a href="#"><li>property 04</li></a>
                            <a href="#"><li>property 05</li></a>
                        </ul>
                    </div>
                    <div class="left-btn">
                        <a href="#">ADD MORE +</a>     
                    </div>
                    <div class="share">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                </div>
                <div class="right-nego">
                   <div class="right-banner">
                        DETAILS OF PROPERTY
                   </div>
                    <div class="property-details">
                        <h4>PROPERTY DETAILS</h4>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Address1 : <span class="light">Lorem Lpsum, Dolor</span> </td>
                                <td>Age of property : <span class="light">2 years</span></td>
                                <td>Restaurents : <span class="light">Yes</span></td>
                            </tr>
                            <tr>
                                <td>Address2 : <span class="light">Lorem Lpsum, Dolor</span> </td>
                                <td>BHK : <span class="light">6</span></td>
                                <td>Modular kitchen : <span class="light">Yes</span></td>
                            </tr>
                            <tr>
                                <td>Locality / Suburb : <span class="light">Bandra</span></td>
                                <td>Furnishing : <span class="light">Non-Furnishing</span></td>
                                <td>Movie theatres : <span class="light">Yes</span></td>
                            </tr>
                            <tr>
                                <td>Facing (Direction) : <span class="light">East</span></td>
                                <td>Pin Code : <span class="light">400 031</span></td>
                                <td>Train Stations : <span class="light">Lorem</span></td>
                            </tr>
                            <tr>
                                <td>Age of Property : <span class="light">2 years</span></td>
                                <td>Property type : <span class="light">Villa</span></td>
                                <td>Bus Stations : <span class="light">Lpsum</span></td>
                            </tr>
                            <tr>
                                <td>Totle floors : <span class="light">2</span></td>
                                <td>Lease type : <span class="light">Lpsum</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>BHK : <span class="light">6</span> </td>
                                <td>Bathrooms : <span class="light">2</span></td>
                                <td></td>
                            </tr>
                                </tbody>
                        </table>
                    </div>
                    <div class="amenities">
                        <h4>AMIENITIES</h4>
                        <div class="buttons">
                            <h4 class="left-head">Internal amenities</h4><br>
                            <h4 class="left-head">External amenities</h4><br>
                            <h4 class="left-head">Flat amenities</h4><br>
                        </div>
                        <div class="check-slider">
                        <div id="slider0">
                          <a class="control_next0" id="control_next0">></a>
                          <a class="control_prev0" id="control_prev0"><</a>
                          <ul>
                            <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                          </ul>  
                        </div>
                        <div id="slider1">
                          <a class="control_next1" id="control_next1">></a>
                          <a class="control_prev1" id="control_prev1"><</a>
                          <ul>
                            <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                          </ul>  
                        </div>
                        <div id="slider2">
                          <a class="control_next2" id="control_next2">></a>
                          <a class="control_prev2" id="control_prev2"><</a>
                          <ul>
                            <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                <div class="checkbox checkbox_first">
                                    <label>
                                      <input type="checkbox"><img src="img/gym.png" /> Gym
                                    </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> <img src="img/swim.png" /> Swimming
                                    </label>
                                  </div>
                                
                            </li>
                          </ul>  
                        </div>      
                        </div>
                        <div class="bottom-slider">
                            <div id="slider3">
                          <a class="control_next3" id="control_next3">></a>
                          <a class="control_prev3" id="control_prev3"><</a>
                          <ul>
                            <li>
                                <div class="seperate"></div>
                                <div class="bottom-img checkbox_first">
                                    <img src="img/img1.jpg" class="img-responsive img-adj" />
                                  </div>
                                <div class="bottom-img">
                                   <img src="img/img2.jpg" class="img-responsive img-adj" />
                                  </div>
                                <div class="bottom-img">
                                    <img src="img/img3.jpg" class="img-responsive img-adj" />
                                  </div>
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="bottom-img checkbox_first">
                                    <img src="img/img1.jpg" class="img-responsive img-adj" />
                                  </div>
                                <div class="bottom-img">
                                   <img src="img/img2.jpg" class="img-responsive img-adj" />
                                  </div>
                                <div class="bottom-img">
                                    <img src="img/img3.jpg" class="img-responsive img-adj" />
                                  </div>
                            </li>
                              <li>
                                <div class="seperate"></div>
                                <div class="bottom-img checkbox_first">
                                    <img src="img/img1.jpg" class="img-responsive img-adj" />
                                  </div>
                                <div class="bottom-img">
                                   <img src="img/img2.jpg" class="img-responsive img-adj" />
                                  </div>
                                <div class="bottom-img">
                                    <img src="img/img3.jpg" class="img-responsive img-adj" />
                                  </div>
                            </li>
                          </ul>  
                        </div>
                            <button type="submit" class="btn btn-default btn-enquiry btn-upload">UPLOAD IMAGES</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg submit-btn">
						SUBMIT
					</button>
                </div>
            </div>
        </div>
