
         <div class="container-fluid wrapper">
            <div class="full">
                <div class="left-nego">
                   <div class="left-title">
                        SERVICE TYPE   <p><!----></p>
                   </div>
                    <div class="left-nav center adj">
                        <ul>
                           
                           
                           
                          <!--  <div class="row test" ng-repeat="testm in testimonial">
                        <div class="col-md-12">
                            <div class="col-md-3 user">
                                <img src="{{testm.image | imagepath}}" class="img-responsive img-circle" />
                                <h5 class="name">{{testm.username}}</h5>
                            </div>
                            <div class="col-md-9 user">
                                <p>{{testm.testimonial}}</p>
                            </div>
                        </div>
                    </div>-->
                           
                           
                            <a ng-click=changeService(serve) ng-repeat="serve in service1"><li ng-class="serve.active"> {{serve.name}}</li></a>
<!--
                            <a href="#"><li class="selected">Service 02</li></a>
                            <a href="#"><li>Service 03</li></a>
                            <a href="#"><li>Service 04</li></a>
                            <a href="#"><li>Service 05</li></a>
-->
                        </ul>
                    </div>
                    <div class="share">
                        <strong>Share On: </strong>
                        <a href="#"><img src="img/share1.png" /></a>
                        <a href="#"><img src="img/share2.png" /></a>
                        <a href="#"><img src="img/share3.png" /></a>     
                    </div>
                </div>
                <div class="right-nego">
                   <div class="right-banner">
                        DETAILS OF SERVICE PROVIDER IN YOUR AREA BASIS CURRENT ADDRESS AND PROPERTY LISTED
                   </div>
                    <div class="check">
                      <div class="dropdown drop">
                            <button class="btn dropdown-toggle drop-btn btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Area Selected
                            <span class="caret caret-right"></span>
                            </button>
                            <ul class="dropdown-menu drop-menu drop-adj" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" ng-repeat="area1 in area1"><a role="menuitem" tabindex="-1" ng-click="sortArea(area1.id)">{{area1.name}}</a></li>
                            </ul>
                        </div> 
                        <div class="dropdown drop">
                            <button class="btn dropdown-toggle drop-btn btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Days Working
                            <span class="caret caret-right"></span>
                            </button>
                            <ul class="dropdown-menu drop-menu drop-adj" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" ng-repeat="days in days"><a role="menuitem" tabindex="-1" ng-click="sortDay(days.id)">{{days.name}}</a></li>
                            </ul>
                        </div>
<!--
                        <div class="dropdown drop">
                            <button class="btn dropdown-toggle drop-btn btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Services Offered
                            <span class="caret caret-right"></span>
                            </button>
                            <ul class="dropdown-menu drop-menu drop-adj" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vastu</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Plumbing</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Interior Decorator</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electrician</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Architect</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Shifting Services</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fitting Services</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Legal Services</a></li>
                            </ul>
                        </div>
-->
<!--
                        <div class="dropdown drop">
                              <button class="btn dropdown-toggle drop-btn btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Service Provider
                                <span class="caret caret-right"></span>
                              </button>
                              <ul class="dropdown-menu drop-menu drop-adj" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lorum Lpsum</a></li>
                              </ul>
                            </div>
-->
                    </div> 
                    <div class="check-range">
                        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
                            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                            <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
                            <link rel="stylesheet" href="/resources/demos/style.css">
                            <script>
                                $(function () {
                                    $("#slider-range").slider({
                                        range: true,
                                        min: 100000,
                                        max: 5000000,
                                        values: [75, 300],
                                        slide: function (event, ui) {
                                            $("#amount-lt").val("Rs." + ui.values[0]);
                                            $("#amount-rt").val("Rs." + ui.values[1]);
                                        }
                                    });
                                    $("#amount-lt").val("Rs. " + $("#slider-range").slider("values", 0));
                                    $("#amount-rt").val("Rs. " + $("#slider-range").slider("values", 1));
                                });
                            </script>
                            <input type="text" id="amount-rt" placeholder="Search..." ng-model="service.search">
                    </div>
                    <div class="property-details">
                        <table class="table table-bordered">
                            <thead>
                                    <tr>
                                        <th>Service Provider Name <img src="img/th1.png" /></th>
                                        <th>Contact <img src="img/th2.png" /></th>
                                        <th>Area Serviced <img src="img/th3.png" /></th>
                                        <th>Days Working <img src="img/th4.png" /></th>
                                        <th>Rates <img src="img/th5.png" /></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat = "singleService in singleService|filter:service.search">
                                    <td>{{singleService.name}}</td>
                                    <td>{{singleService.contact}}</td>
                                    <td>{{singleService.area}}</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs.{{singleService.rate}} crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                        <!--        <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                                <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                                <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                                <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                                <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                                <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                                <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>
                                <tr>
                                    <td>Raheja Builders</td>
                                    <td>9320076531</td>
                                    <td>Bandra, Andheri</td>
                                    <td>Mon, Thurs, Fri</td>
                                    <td>Rs. 1.2 crores</td>
                                    <td><button type="submit" class="btn btn-default btn-enquiry">SEND ENQUIRY</button></td>
                                </tr>   class="page-selected" -->
                            </tbody>
                        </table>
                    </div>
                    <nav ng-show="page.status">
                      <ul class="pagination">
                           <li ng-repeat="page in pageslink"><a ng-click="changepage(page)"><span>{{page}}</span></a></li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
